<div class="app">
  <!-- <div class="app__title">
    <div class="app__title-logo">DOMOGARDEN</div>
  </div> -->
  <div class="app__switch" ngbRadioGroup
       name="radioBasic" [(ngModel)]="scheduled">
    <label class="app__switch-label" ngbButtonLabel>
      <input class="app__switch-label-button" type="button" [value]="switchTitle"
             (click)="switchScheduled()">
    </label>
    <label class="app__switch-label" ngbButtonLabel>
      <input class="app__switch-label-button" type="button" [value]="this.esp8266Time | date:'HH:mm:ss':'+0000'"
             (click)="getTime()">
    </label>
  </div>
  <div class="app__contain-pin" *ngFor="let item of pines">
    <div class="app__contain-pin-title"> PIN: D{{ item.pin }} -
      {{ item.description }}</div>
    <div class="app__contain-pin-group1">
      <div class="app__contain-pin-group1-switch"
           [ngClass]="item.disabled || scheduled ? 'disabled_button' : item.status == 1 ? 'on_button' : 'off_button'"
           (click)="this.switch(item.pin)">
      </div>
      <div class="app__contain-pin-group1-picker" *ngIf="scheduled">
        <ngb-timepicker [(ngModel)]="item.start0" [seconds]="true"
                        [disabled]="item.disabled">
        </ngb-timepicker>
        <p-inputNumber [(ngModel)]="item.duration0" [min]="0" [max]="300">
        </p-inputNumber>
        <p-slider [(ngModel)]="item.duration0" [disabled]="item.disabled"
                  [min]="0" [max]="300" [animate]="true">
        </p-slider>
      </div>
    </div>
    <div class="app__contain-pin-group2" *ngIf="scheduled">
      <div class="app__contain-pin-group2-switch">
      </div>
      <div class="app__contain-pin-group2-picker">
        <ngb-timepicker [(ngModel)]="item.start1" [seconds]="true"
                        [disabled]="item.disabled">
        </ngb-timepicker>
        <p-inputNumber [(ngModel)]="item.duration1" [min]="0" [max]="300">
        </p-inputNumber>
        <p-slider [(ngModel)]="item.duration1" [disabled]="item.disabled"
                  [min]="0" [max]="300" [animate]="true">
        </p-slider>
      </div>
    </div>
    <div class="app__contain-pin2-update" *ngIf="scheduled">
      <input ngbButtonLabel type="button" value="Programar"
             (click)="this.pinUpdate(item.pin)" [disabled]="item.disabled">
    </div>
  </div>
</div>