<div>
  <span>Título: {{ this.title }}</span>
</div>

<p>Hora esp8266:
  {{this.esp8266Time.getTime()}} - {{ this.esp8266Time | date:'yyyy-MM-dd hh:mm:ss':'+0100' }}</p>
<p>¿Programado? <input ngbButtonLabel class="btn-primary" type="button"
         [value]="scheduled" (click)="switchScheduled()"></p>
<table>
  <thead>
    <th>Pin</th>
    <th>Descripción</th>
    <th>Activado</th>
    <th *ngIf="scheduled">Start</th>
    <th *ngIf="scheduled">End</th>
  </thead>
  <tr>
    <td>{{ '' }}</td>
    <td>{{ 'LED_BUILTIN' }}</td>
    <td>
      <input ngbButtonLabel class="btn-primary" type="button"
             [value]="scheduled" [disabled]="true">
    </td>
    <td *ngIf="scheduled">{{ '' }}</td>
    <td *ngIf="scheduled">{{ '' }}</td>
  </tr>
  <tr *ngFor="let item of pines">
    <td>{{ item.pin }}</td>
    <td>{{ item.description }}</td>
    <td>
      <input ngbButtonLabel class="btn-primary" type="button"
             [value]="item.status == 1" (click)="this.switch(item.pin)">
    </td>
    <td *ngIf="scheduled">
      {{item.start0.getTime()}}<ngb-timepicker [(ngModel)]="item.start0"></ngb-timepicker>
    </td>
    <td *ngIf="scheduled">
      <ngb-timepicker [(ngModel)]="item.end0"></ngb-timepicker>
    </td>
    <td>
      <input ngbButtonLabel class="btn-primary" type="button"
             value="Programar" (click)="this.pinUpdate(item.pin)">
    </td>
  </tr>
</table>